<div class="labels">

    <span  style="text-align: center;">{{ p }}%</span>
</div>
<div style="width: 100%">
<div class="progress">

    <div class="progress-bar progress-bar-animated" role="progressbar" aria-valuenow="{{ p }}" aria-valuemin="0" aria-valuemax="100" style=" width: {{ p }}%;">

    </div>
</div>
</div>