{% extends 'baseBack.html.twig' %}

{% form_theme f 'bootstrap_4_layout.html.twig' %}

{% block body%}

    {{ form_start(f,{'attr':{'nonvalidate':'nonvalidate'}} ) }}


    {{ form_widget(f) }}

    <br>
    <button type="submit" class="btn btn-success"> Modifier Categorie </button>

    {{ form_end(f)}}



{% endblock %}